{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block content %}
<div class="login-box">
    <h3>Sign in</h3>
    <hr>
    <form class="login-form" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        <div class="row-fluid">
            <div class="login-label span3">
                Email
            </div>
            <div class="span9">
                <input class="upper" id="email" name="email" type="text" value="">
            </div>
        </div>
        <div class="row-fluid">
            <div class="login-label span3">
                Password
            </div>
            <div class="span9">
                <input class="lower" id="password" name="password" type="password" value="">
            </div>
        </div>
        {{ render_field(login_user_form.next) }}
        <button class="btn btn-success">Sign in</button>
    </form>
</div>
{% endblock %}
