{% macro render_field_with_errors(field) %}
    {% if field.errors %}
        <span class="error help-inline">{{ field.errors|join(', ') }}</span>
    {% endif %}
    {{ render_field(field, **kwargs) }}
{% endmacro %}

{% macro render_field(field) %}
    {% set class_ = kwargs.pop('class', '') %}
    {% set class_ = class_ + ' form-control' %}
    {% if field.flags.required %}
        {% set class_ = class_ + ' required' %}
    {% endif %}
    {% if field.type == 'SubmitField' %}
        {% set class_ = class_ + ' btn' %}
        {{ field(class=class_, **kwargs) }}
    {% elif field.type == 'HiddenField' %}
        {{ field(class=class_, **kwargs) }}
    {% else %}
        {{ field(class=class_, placeholder=field.label.text, **kwargs) }}
    {% endif %}
{% endmacro %}


