.login-box {
    margin: auto;
    width: 350px;
    padding: 20px;
}

.registration-box {
    margin: auto;
    width: 500px;
    padding: 20px;
}

.field-label label {
}

.login-box input,
.registration-box input {
    //height: 30px;
    //padding: 5px;
    //margin: 0;
    //background-color: #f1f1f1;
}

input.upper {
    border-radius: 4px 4px 0 0;
}

input.middle {
    border-radius: 0 0 0 0;
    border-top: 0;
}

input.lower {
    border-radius: 0 0 4px 4px;
    border-top: 0;
}
