<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
        {% endblock %}
    </head>

    <body>
        <div class="container">
            {% block navbar %}
            <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <a class="brand" href="#">Title</a>
                <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                </ul>
            </div>
            </div>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block js_footer %}
            {% endblock %}
        </div>
    </body>
</html>
